.container-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 20%;
  min-width: 300px;
}

.container-header-action {
  display: flex;
  justify-content: flex-end;
}

.button-like {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 50%;
  border: 0;
  padding: 5px;
  cursor: pointer;
}

.button-like:hover {
  opacity: 0.7;
}

.button-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 5px;
  cursor: pointer;
  background: none;
}

.text-title {
  margin-top: 50px;
}

.container-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin-bottom: -20px; */
  margin-top: 30px;
}

.text-rating {
  color: #000;
}

.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 20px;
}

.content-rating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.text-price {
  text-decoration: line-through;
  color: #ccc;
  margin-top: 10px;
}

.text-sale-price {
  color: #8200ff;
  font-weight: 700;
  font-size: 1.3rem;
}

@media (max-width: 520px) {
  .container-card {
    width: 80%
  }
}