.container-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #8200ff;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribui os elementos */
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.logo {
  width: 150px;
  margin-left: 50px;
}

.button-wishlist {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  text-decoration: none;
  margin-right: 50px;
}
